body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}

header, #board, #highScores, #options, footer {
    padding: 0.5em;
    /* width:100%; */
}

header {
    /* background: hsl(180, 100%, 80%); */
    border: 1px #472a07;
}

#header {
    background:  #E4B363;
    border: 1px solid #472a07;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

#board {
    /* background: hsl(300, 100%, 90%); */
    background: hsl(240, 4.5%, 90%);
    /* border: 1px solid hsl(300, 100%, 50%);*/
    border: 1px solid #472a07;
}

#highScores {
    background: #E4B363;
    border: 1px solid #472a07;
    min-width: 490px;
    align:center;
}

#options {
    background: #472a07;
    border: 1px solid #472a07;
    min-width: 400px;
    align:center;
}

footer {
    background: #472a07;
    border: 1px solid#472a07;
}

#footerbuttons {
    background: hsl(0, 100%, 70%);
    border: 1px #472a07;
}
#footer {
  background: #E4B363;
  border: 1px solid #472a07;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 3px;
  padding-right: 3px;
  min-width: 350px;
}

footer > small {
    background: white;
    padding: 0.2em;
}

#mainSection {
    display: inline-grid;
    grid-template-areas:
        'head  head'
        'board score'
        'board opt'
        'board bott'
        'foot  foot';
}

header {
    grid-area: head;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.5em;
}

#score {
    /* font-weight: bold; */
    grid-area: board;
    font-weight: normal;
    display: inline;
}

#score::before {
    /* content: 'Score: '; */
    font-weight: bold;
}

#board {
    grid-area: board;
    margin-right: 0.5em;
}

h3 {
    background: white;
    font-weight: normal;
    margin-top: 0;
    padding: 0.5em;
}

#highScores
  grid-area: board-start;
  margin-bottom: 0.5em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
    font-weight: normal;
}

td {
    background: white;
    color: gray;
    font-size: 0.9em;
    padding: 0.2em;
}

.scoreColumn {
    width: 5em;
}

.nameColumn {
    width: 15em;
}

#options {
    /* grid-area: opt; */
    grid-area: board-start;
    display: flex;
    flex-direction: column;
}

#newGame {
    padding-top:0.5em;
    padding-bottom: 0.5em;
}

#playerName {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

#difficulty {
    text-align: center;
}

footer {
    grid-area: foot;
    margin-top: 0.5em;
}
#footerbuttons {
    background:white;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}
